/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: goldenrod
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: darkgrey
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

main {
    background-color: wheat
    padding: 20px;
    border-radius: 8px;
}

h1 {
    color: #FFFFFF; /* White */
    background-color: darkorange
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: skyblue
    border-radius: 4px;
}

a {
    color: yellowgreen
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
    background-color: goldenrod
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: indigo
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #FFFFFF; /* White */
    border: 1px solid indigo
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: indigo
    color: #FFFFFF; /* White */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: white
}

/* New styles for the logo image */
.logo {
    display: block;
    max-width: 200px;
    margin: 0 auto 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
