

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <img src="{% static 'logo.jpg' %}" alt="logo" class="logo">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>{% block title %}QuizMaster{% endblock %}</title>
</head>
<body>
    <header>
        <h1>QuizMaster</h1>
        <nav>
            <ul>
                <li><a href="{% url 'select_topic' %}">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 QuizMaster</p>
    </footer>
</body>
</html>
